<!DOCTYPE html> 
<html lang="ru">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<!-- Add additional CSS in static file -->
  		{% load static %}
  		<link rel="stylesheet" href="{% static '../static/index/index_styles.css' %}" type="text/css" media="screen">
	</head>
	<body>
		<div id="top-bar">
			<div class="fixed-container">{% block top-bar %}{% endblock %}</div>
		</div>

		<div id="menu-container">
			<div class="fixed-container">
				<a href="#">Главная</a>
				<a href="#">Информация</a>
				<a href="#">Документы</a>
				<a href="#">Реквизиты</a>
				<a href="#">Контакты</a>
			</div>
		</div>
		
		<div id="central-container">
			<div class="fixed-container" id="flex-container">
				{% block left-column %}
				<div id="left-column"><h4>Личный кабинет</h4></div>
				{% endblock %}
				<div id="center-column">
				<h2>Информация</h2>теку фдалофывдфдал офывдфдалофывдфдалофывд
				фдалофыв дфдалофыв дфдалофывдфдалофы вдфдалофывд фдалофывдфдалi
				офывддф далоф ывдффдалофыв длжоадвыло адфвы адлфовыдалоф ывдлаофывдла 
				одлфывоа длфывоадл фыовдлаоы
				</div>
				<div id="right-column">
					<h4>Данные садоводства</h4>
					<p>Название: СНТ "Балтика"<br>
					Площадь: <br>
					Число участков: <br>
				</div>
			</div>
		</div>
		<div id="bottom-bar">
			<div class="fixed-container">СНТ "Балтика"</div>
		</div>
	</body>
</html>