{% extends "base_generic.html" %}

{% block left-column %}
<div id="left-column">
	<h4>Личный кабинет</h4>
</div>
{% endblock %}

{% block center-column %}
<div id="center-column">
	<h3>Информация</h3>
	{% for info in info_list %}
	<h4>{{ info.title }}</h4>
	<p>{{ info.body|truncatewords:20 }}</p>
	{% empty %}
	<p>Пока еще не опубликовано ни одной записи.</p>
	{% endfor %}
</div>
{% endblock %}

{% block right-column %}
<div id="right-column">
	<h4>Данные садоводства</h4>
	<p>Название: {{ snt_name }}<br>
	Число участков: {{ land_plots_count }}<br>
	</p>
</div>
{% endblock %}

