{% extends "base_generic.html" %}

{% block title %}{{ snt_name }}{% endblock %}
{% block top-bar %}{{ snt_name }}{% endblock %}
{% block left-column %}
<div id="left-column">
	<h4>Личный кабинет</h4>
</div>
{% endblock %}
{% block right-column %}
<div id="right-column">
	<h4>Данные садоводства</h4>
	<p>Название: СНТ "Балтика"<br>
	Площадь: <br>
	Число участков: <br>
</div>
{% endblock %}

{% block bottom-bar %}
<div id="bottom-bar">
	<div class="fixed-container">{{ snt_address }}</div>
</div>
{% endblock %}