{% extends "base_generic.html" %}

{% block title %}{{ snt_name }}{% endblock %}
{% block top-bar %}{{ snt_name }}{% endblock %}

{% block left-column %}
<div id="left-column">
	<h4>Личный кабинет</h4>
</div>
{% endblock %}
{% block center-column %}
<div id="center-column">
	<h3>Информация</h3>
	{% for info in info_list %}
	<h4>{{ info.title }}</h4>
	<p>{{ info.body|truncatewords:20 }}</p>
	{% empty %}
	<p>Пока еще не опубликовано ни одной записи.</p>
	{% endfor %}
</div>
{% endblock %}

{% block bottom-bar %}
<div id="bottom-bar">
	<div class="fixed-container">{{ snt_address }}</div>
</div>
{% endblock %}