{% extends "base_generic.html" %}

{% block center-column %}
<div id="center-column">
	<h4 align="center">Участок {{ land_plot.plot_number }}</h4>
        <div class="center-column-wrapper">
                <a href="{% url 'electricity' land_plot.id %}">
                <div class="center-column-big-frame-link">
                <h4>Электроэнергия</h4>
                </div>
                </a>
	            <a href="{% url 'membership-payments' land_plot.id %}">
                <div class="center-column-big-frame-link">
                <h4>Членские взносы</h4>
                </div>
                </a>
                <a href="{% url 'target-payments' land_plot.id %}">
                <div class="center-column-big-frame-link">
                <h4>Целевые возносы</h4>
                </div>
                </a>
        </div>

</div>
{% endblock %}

