{% extends "base_generic.html" %}
{% load index_extratags %}
<!-- |verbose_name - returns Model._meta.verbose_name -->
<!-- |verbose_name_plural - returns Model._meta.verbose_name_plural -->
<!-- |str - returns Model.__str__() -->


{% block center-column %}
<div id="center-column">
    <h3>Контакты</h3>
	{% if snt_list %}
	<h4>Адрес: {{ snt_list.0.address }}"</h4>
	{% endif %}

    {% if chair_man %}
    <h4>{{ chair_man|verbose_name }}:  {{ chair_man }}</h4>
    <h4>Телефон: {{ chair_man.phone|default_if_none:"" }}</h4>
    <h4>Электронная почта: {{ chair_man.email|default_if_none:"" }}</h4>
    {% endif %}

    {% if accountant %}
    <h4>{{accountant|verbose_name }}:  {{ accountant }}</h4>
    <h4>Телефон: {{ accountant.phone|default_if_none:"" }}</h4>
    <h4>Электронная почта: {{ accountant.email|default_if_none:"" }}</h4>
    {% endif %}
</div>
{% endblock %}

