h{% extends "base_generic.html" %}
<!-- Normally the template name is relative to the template loader’s root directory -->
{% block center-column %}
<div id="center-column">
<!-- <h4 align="center">Электроэнергия</h4>
    <p>Участок {{ land_plot.plot_number }}</p> -->

<!--    {% if e_counter %}
    <p>Электросчетчик {{ e_counter.model_name }},
    {{ e_counter.get_model_type_display|lower }},
    серийный номер {{ e_counter.sn }},
    дата установки/приемки к учету {{ e_counter.reg_date|date:"d.m.Y" }}</p>
    {% endif %} -->
    <h4 align="center">Участок {{ land_plot.plot_number }}<br>
    (членские взносы)</h4>
        <p>Год: {{ m_payment.year_period }}<br>
            Месяц: {{ m_payment.month_period }}<br>
            Размер взонса за сотку: {{ m_payment.rate }}р.<br>
            Площадь участка: {{ m_payment.plot_area }}м<sup>2</sup><br>
            Итого: {{ m_payment.amount }}р.<br>
            Статус: {{ m_payment.get_status_display }}</p>

        {% load qr_code %}
        <p>{% qr_from_text qr_pay_data size=2 image_format="png" %}</p>
        
        {% if m_payment.status == 'not_paid' %}
        <p><b>После успешной оплаты, укажите, что квитанция оплачена.</b></p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <p><input type="submit" value="Оплачено"></p>
            </form>
        {% endif %}

	<a href="{% url 'membership-payments' land_plot.id %}">Назад</a>
</div>
{% endblock %}

