{% extends "base_generic.html" %}
{% block center-column %}
<div id="center-column">
    <h4 align="center">Участок {{ land_plot.plot_number }}<br>
    {% if m_payment.status == 'not_paid' %}
    (оплата по QR коду)
    {% else %}
    (квитанция)
    {% endif %}</h4>
    <div class="center-column-wrapper solid-border-1px">
        <div class="center-column-qr-block">
            <p>Период: {{ m_payment.get_month_period_display }} {{ m_payment.year_period }} г.<br>
            Дата оплаты: {{ m_payment.payment_date|date:"d.m.y." }}<br>
            Статус: {{ m_payment.get_status_display|lower }}<br></p>
            {% load qr_code %}
            <p>{% qr_from_text qr_pay_data size=2 image_format="png" %}</p>
        </div>
        <div class="center-column-qr-details-block">
            <p>СНТ "{{ snt_list.0.name }}"<br> 
                ИНН {{ snt_list.0.inn }}<br> 
                р/с {{ snt_list.0.personal_acc }}<br>
                {{ snt_list.0.bank_name }}<br>
                КПП {{ snt_list.0.kpp }}<br>
                БИК {{ snt_list.0.bic }}<br>
                к/с {{ snt_list.0.corresp_acc }}<br>
                ФИО: {{ land_plot.owner }}<br>
                Адрес: участок № {{ land_plot }} СНТ "{{ snt_list.0.name }}"<br>
                Членский взнос<br>
                Период: {{ m_payment.get_month_period_display }} {{ m_payment.year_period }} г.<br>
                Итого: {{ m_payment.amount }}р.<br>
            </p>
        </div>
    </div>
        {% if m_payment.status == 'not_paid' %}
            <div class="center-column-wrapper">
                <p align="center"><b>После успешной оплаты, нажмите кнопку оплачено.</b></p>
            </div>
            <div class="center-column-wrapper">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Оплачено" align="center">
                </form>
            </div>
        {% endif %}

	<a href="{% url 'membership-payments' land_plot.id %}" class="back-link">
    Назад
    </a>
</div>
{% endblock %}

