{% extends "base_generic.html" %}
{% block center-column %}
<div id="center-column">
    <h4 align="center">Участок {{ land_plot.plot_number }}<br>
    (членские взносы)</h4>

        <div class="center-column-wrapper">
            <div class="center-column-block">
            {% for item in payment_data_list %}
                <a href="{% url 'membership-payment-details' land_plot.id item.id %}">
                <div class="center-column-item">
                    Период: {{ item.get_month_period_display }} {{ item.year_period }} г.<br>
                    Площадь участка: {{ item.plot_area }} м<sup>2</sup><br>
                    Сумма: {{ item.amount }} р.<br>
                    Статус: {{ item.get_status_display|lower }}<br>
                    Дата оплаты: {{ item.payment_date|date:"d.m.y" }}<br>
                </div>
            </a>
            {% empty %}
            <div class="center-column-block">
                Квитанции не найдены
            </div>
            {% endfor %}
            </div>
        </div>
            

	<a href="{% url 'land-plot' land_plot.id %}" class="back-link">
    Назад
    </a>
</div>
{% endblock %}

