{% extends "base_generic.html" %}
{% block center-column %}
<div id="center-column">
    <h4 align="center">Участок {{ land_plot.plot_number }}<br>
    (внесение новых показаний)</h4>
    <p>Э/счетчик {{ e_counter }}, номер {{ e_counter.sn }}</p>
    <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if not field.is_hidden %}
            <div class="fieldWrapper">
                <p class="no-margin-bottom">{{ field.label_tag }} {{ field }}</p>
                    {% for error in field.errors %}
                        <div class="field-error">{{ error }}</div>
                    {% endfor %}
            </div>
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
    <p><input type="submit" value="Сохранить"></p>
    </form>

	<a href="{% url 'electricity' land_plot.id %}" class="back-link">
    Назад
    </a>
</div>
{% endblock %}

