{% extends "base_generic.html" %}
<!-- Normally the template name is relative to the template loader’s root directory -->
{% block center-column %}
<div id="center-column">
	<h4 align="center">Показания э/счетчика</h4>
    <p>Участок {{ land_plot.plot_number }}</p>

    {% if e_counter %}
    <p>Электросчетчик {{ e_counter.model_name }},
    {{ e_counter.get_model_type_display|lower }},
    серийный номер {{ e_counter.sn }},
    дата установки/приемки к учету {{ e_counter.reg_date|date:"d.m.Y" }}</p>
    {% endif %}
    
    <p><a href="#">Внести новые показания</a></p>
    <p>
    {% if e_counter.model_type == 'single' %}
    <table>
    <tr>
    <th>Дата</th>
    <th>Однотарифный квт/ч</th>
    <th>Статус</th>
    </tr>
    {% for record in e_counter_records_list %}
        <tr>
        <td>{{ record.rec_date|date:"d.m.y" }}</td>
        <td>{{ record.s }}</td>
        <td>empty</td>
        </tr>
        </table>
    {% empty %}
    </table>
    Данные отсутствуют</br>   
    {% endfor %}
    {% elif e_counter.model_type == 'double'  %}
    <table>
    <tr>
    <th>Дата</th>
    <th>День квт/ч</th>
    <th>Ночь квт/ч</th>
    <th>Статус</th>
    </tr>
    {% for record in e_counter_records_list %}
        <tr>
        <td>{{ record.rec_date|date:"d.m.y" }}</td>
        <td>{{ record.t1 }}</td>
        <td>{{ record.t2 }}</td>
        <td>empty</td>
        </tr>
        </table>
    {% empty %}
    </table>
    Данные отсутствуют</br>   
    {% endfor %}   </p>
    {% endif %}

	<a href="{% url 'electricity' land_plot.id %}">Назад</a>
</div>
{% endblock %}

