{% extends "base_generic.html" %}
<!-- Normally the template name is relative to the template loader’s root directory -->
{% block center-column %}
<div id="center-column" align="center">
    <h4 align="center">Участок {{ land_plot.plot_number }}<br>
    (показания на {{ record.rec_date|date:"d.m.y." }})</h4>
    <p>Дата показаний: {{ record.rec_date|date:"d.m.y." }}</p>
    {% if counter_type == "single" %}
    <p>Показания: {{ record.s }} квт/ч</p>
    {% elif counter_type == "double" %}
    <p>День (T1): {{ record.t1 }}</p>
    <p>Ночь (T2): {{ record.t2 }}</p>
    {% endif %}

    {% if form %}
       <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <p><input type="submit" value="Сформировать квитанцию"></p>
        </form> 
         <p><a href="{% url 'delete-e-counter-record' land_plot.id record.id %}">
            <input type="submit" value="Удалить показания">
        </a></p>
    {% else %}
   
    {% endif %}

    {% if e_payment.status == "not_paid" %}
        <p>
        <a href="{% url 'pay-e-payment' land_plot.id e_payment.id %}">
            <input type="submit" value="Оплатить по QR коду">
        </a>
        </p>
        <p>
        <a href="{% url 'delete-e-payment' land_plot.id e_payment.id %}">
        <input type="submit" value="Удалить квитанцию">
        </a>
        </p>
    {% elif e_payment.status == "paid" or e_payment.status == "payment_confirmed" %}
        <p>
        <a href="{% url 'e-payment-details' land_plot.id e_payment.id %}">
            <input type="submit" value="Детали платежа">
        </a>
        </p>
    {% endif %}
    <div class="center-column-back-link">
	<a href="{% url 'electricity' land_plot.id %}">Назад</a>
    </div>
</div>
{% endblock %}

