{% extends "base_generic.html" %}
<!-- Normally the template name is relative to the template loader’s root directory -->
{% block center-column %}
<div id="center-column">
<!-- <h4 align="center">Электроэнергия</h4>
    <p>Участок {{ land_plot.plot_number }}</p> -->

<!--    {% if e_counter %}
    <p>Электросчетчик {{ e_counter.model_name }},
    {{ e_counter.get_model_type_display|lower }},
    серийный номер {{ e_counter.sn }},
    дата установки/приемки к учету {{ e_counter.reg_date|date:"d.m.Y" }}</p>
    {% endif %} -->

    <h4 align="center">Участок {{ land_plot.plot_number }}</br>
    (показания)</h4>
    <p>Дата показаний: {{ record.rec_date|date:"d.m.y."  }}</p>
    {% if counter_type == "single" %}
    <p>Показания: {{ record.s }} квт/ч</p>
    {% elif counter_type == "double" %}
    <p>День (T1): {{ record.t1 }}</br>
    Ночь (T2): {{ record.t2 }}<p>
    {% endif %}
    <p>Квитанция: доработать</p>
    <p>Статус квитанции: доработать</p>


	<a href="{% url 'land-plot' land_plot.id%}">Назад</a>
</div>
{% endblock %}

