{% extends "base_generic.html" %}
<!-- Normally the template name is relative to the template loader’s root directory -->
{% block center-column %}
<div id="center-column">
<!-- <h4 align="center">Электроэнергия</h4>
    <p>Участок {{ land_plot.plot_number }}</p> -->

<!--    {% if e_counter %}
    <p>Электросчетчик {{ e_counter.model_name }},
    {{ e_counter.get_model_type_display|lower }},
    серийный номер {{ e_counter.sn }},
    дата установки/приемки к учету {{ e_counter.reg_date|date:"d.m.Y" }}</p>
    {% endif %} -->

    <h4 align="center">Участок {{ land_plot.plot_number }}<br>
    (оплата по QR коду)</h4>
    <p>Дата показаний: {{ record.rec_date|date:"d.m.y." }}</p>
    
    {% if counter_type == "single" %}

    <p> Дата оплаты: {{ e_payment.payment_date|date:"d.m.y." }}<br>
        Статус: {{ e_payment.status|lower }}<br>
        Новые показания: {{ e_payment.s_new }} квт/ч<br>
        Предыдущие показания: {{ e_payment.s_prev }} квт/ч<br>
        Расход: {{ e_payment.s_cons }} квт/ч<br>
        Сумма: {{ e_payment.s_amount }} р.<br>
        Итог: {{ e_payment.sum_total }} р.<br></p>

    {% elif counter_type == "double" %}

    <p> Дата оплаты: {{ e_payment.payment_date|date:"d.m.y." }}<br>
    Статус: {{ e_payment.get_status_display|lower }}<br>
    Новые показания день (T1): {{ e_payment.t1_new }} квт/ч<br>
    Новые показания ночь (T2): {{ e_payment.t2_new }} квт/ч<br>
    Предыдущие показания день (T1): {{ e_payment.t1_prev }} квт/ч<br>
    Предыдущие показания ночь (T2): {{ e_payment.t2_prev }} квт/ч<br>
    Расход день (T1): {{ e_payment.t1_cons }} квт/ч<br>
    Расход ночь (T2): {{ e_payment.t2_cons }} квт/ч<br>
    Сумма день (T1): {{ e_payment.t1_amount }} р.<br>
    Сумма ночь (T2): {{ e_payment.t2_amount }} р.<br>
    Итог: {{ e_payment.sum_total }} р.<br></p>

    {% endif %}

    {% load qr_code %}
    <p>{% qr_from_text qr_pay_data size=2 image_format="png" %}</p>
    <p><b>После успешной уплаты, укажите, что квитанция оплачена.</b></p>
    <form action="" method="post">
        {% csrf_token %}
      <!--  {% if form.errors %} -->
            {{ form.errors }}
    <!--{% endif %} -->
        {{ form }}
        <p><input type="submit" value="Оплачено"></p>
    </form>

	<a href="{% url 'e-counter-record-details' land_plot.id record.id %}">Назад</a>
</div>
{% endblock %}

