/* ROOT STYLES */
body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-family: Arial;
	color: #003000;
}

:root {
	--basic-color: SeaGreen;
	--button-background-color: #F3FFF3;/*#F3FFF3#E5FFE5*/
	--hover-color: DarkGreen;
	--active-color: #C7F0C7;
	--font-color: #003000;
	}

/* LINK ELEMENTS */
.button-link {
	border-radius: 5px;
    border: 1px solid var(--basic-color);
    margin: 5px auto;
	text-align: center;
	font-size: 13px;
	padding: 6px;
	background-color: var(--button-background-color);
	color: var(--basic-color);
	text-decoration: none;
	display: inline-block;
}
	.button-link:hover {
		border: 1px solid var(--hover-color);
		color: var(--hover-color);
	}
	.button-link:active {
		border: 1px solid var(--hover-color);
		background-color: var(--active-color);
		color: var(--hover-color);
		/*outline: none;*/
	}

.back-link {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin: 10px auto;
	color: var(--basic-color);
	text-decoration: none;
	display: block;
}
	.back-link:hover {
		color: var(--hover-color);
	}

/* FORM ELEMENTS */
input[type=submit] {
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid var(--basic-color);
    background-color: var(--button-background-color);
    color: var(--basic-color);
}
	input[type=submit]:hover {
		border: 1px solid var(--hover-color);
		color: var(--hover-color);
	}
	input[type=submit]:active {
		border: 1px solid var(--hover-color);
		background-color: var(--active-color);
		color: var(--hover-color);
		outline: none;
	}
	input[type=submit]:focus {
		background-color: var(--button-background-color);
		color: var(--basic-color);
		outline: none;
	}

#top-bar {
	background-color: var(--basic-color);
	color: white;
	padding: 10px 0;
	font-size: 16px;
	font-weight: bold;
}

	#top-bar a {
		text-decoration: none;
		color: white;
	}

#central-container {
	background-color: white;
	padding: 10px 0;
}

#flex-container {
	display: flex;
}

.fixed-container {
	max-width: 980px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}

#left-column {
	background-color: #FFFFFF;
	width: 150px;
	padding: 0 18px;
	max-height: 300px;
    margin: 0 5px;
    border: 1px solid var(--basic-color);
    border-radius: 5px;
    /*margin: auto;*/
}

	#left-column input[type=text], input[type=password] {
    	width: 100px;
    	margin: 5px 5px;
    	border: 1px solid var(--basic-color);
    	border-radius: 5px;
	}

#center-column {
	background-color: #FFFFFF;
	margin: 0 5px;
	padding: 0 18px;
	max-width: 760px;
	min-height: 500px;
    border: 1px solid var(--basic-color);
    border-radius: 5px;
    flex-grow: 1;
}
	#center-column h3 {
		text-align: center;
	}

	#center-column input[type=submit] {
    	/*margin: 5px auto;*/
    	padding: 6px;
    	border-radius: 5px;
    	border: 1px solid var(--basic-color);
    	background-color: var(--button-background-color);
    	color: var(--basic-color);
	}
		#center-column input[type=submit]:hover {
			border: 1px solid var(--hover-color);
			color: var(--hover-color);
		}
		#center-column input[type=submit]:active {
			border: 1px solid var(--hover-color);
			background-color: var(--active-color);
			color: var(--hover-color);
			outline: none;
		}
		#center-column input[type=submit]:focus {
			background-color: var(--button-background-color);
			color: var(--basic-color);
			outline: none;
		}
	

	.center-column-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 5px auto;
		/*background: black;*/
		max-width: 700px;
		justify-content: space-around;
	}
		.center-column-wrapper a {
			text-decoration: none;
			/*color: var(--font-color);*/
		}

	.center-column-block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 200px;
	}

	.center-column-item {
		min-height: 80px;
		width: 150px;
		border-radius: 3px;
    	border: 1px solid var(--basic-color);
    	margin: 5px auto;
    	font-size: 14px;
    	padding: 3px 3px;
    	text-decoration: none;
    	color: var(--font-color);
	}
		.center-column-item h5 {
			text-align: center;
		}
		.center-column-item:hover {
			border: 1px solid var(--hover-color);
			background-color: var(--button-background-color);
		}

	.center-column-button-item {
		width: 150px;
		border-radius: 3px;
    	border: 1px solid var(--basic-color);
    	margin: 5px auto;
		text-align: center;
		font-size: 14px;
		padding: 5px 0px;
		/*font-weight: bold;*/
		background-color: var(--button-background-color);
		color: var(--basic-color);
	}
		.center-column-button-item:hover {
			/*background-color: var(--hover-color);*/
			border: 1px solid var(--hover-color);
			color: var(--hover-color);
		}
		.center-column-button-item:active {
			/*background-color: var(--active-color);*/
		}

.info-container {
	
}

#bottom-bar {
	background-color: var(--basic-color);
	color: white;
	padding: 8px 0;
	font-size: 12px;
}


/*
@media (max-width: 830px) {
	#flex-container {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	#center-column {
		order: -1;
		margin: 0 0 20px;
	}
	#left-column {
		flex-basis: 250px;
		flex-grow: 1;
		margin-right: 20px;
	}
}

@media (max-width: 576px) {
	#flex-container {
		flex-wrap: wrap;
		align-items: flex-start;
	}
	#left-column {
		margin-right: 0;
		flex-basis: 520px;
	}
}

@media (max-width: 540px) {
	#top-bar {
		font-size: 14px;
		font-weight: bold;
	}
}

@media (max-width: 400px) {
	#top-bar {
		font-size: 14px;
		font-weight: bold;
	}
}

@media (max-width: 360px) {
	#top-bar {
		font-size: 12px;
	}
} */
