body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-family: Arial;
}

#top-bar {
	background-color: black;
	color: white;
	padding: 10px 0;
	font-size: 16px;
	font-weight: bold;
}

#menu-container {
	padding: 5px 0;

}

#menu-container a {
	color: black;
	font-size: 14px;
	margin-right: 20px;
	text-decoration: none;
}

#menu-container a:hover {
	color: #202020;
}

.fixed-container {
	max-width: 1000px;
	min-width: 300px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}

#central-container {
	background-color: #f9f9f9;
	padding-top: 20px;
}

#flex-container {
	display: flex;
}

#left-column {
	background-color: #FFFFFF;
	width: 200px;
	padding: 0 18px;
	max-height: 280px;
    margin-right: 10px;
}

#center-column {
	background-color: #FFFFFF;
	/*margin: 0 20px;*/
	padding: 0 18px;
	min-width: 440px;
	min-height: 500px;
	flex-grow: 2;
}

#center-column h3 {
	text-align: center;
}

#right-column {
	background-color: #FFFFFF;
	width: 200px;
	padding: 0 18px;	
	max-height: 280px;
    margin-left: 10px;
}

#right-column p {
	font-size: 14px;
}

#bottom-bar {
	background-color: black;
	color: white;
	padding: 8px 0;
	font-size: 12px;
}

/*
@media (max-width: 830px) {
	#flex-container {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	#center-column {
		order: -1;
		margin: 0 0 20px;
	}
	#left-column {
		flex-basis: 250px;
		flex-grow: 1;
		margin-right: 20px;
	}
}

@media (max-width: 576px) {
	#flex-container {
		flex-wrap: wrap;
		align-items: flex-start;
	}
	#left-column {
		margin-right: 0;
		flex-basis: 520px;
	}
}

@media (max-width: 540px) {
	#top-bar {
		font-size: 14px;
		font-weight: bold;
	}
}

@media (max-width: 400px) {
	#top-bar {
		font-size: 14px;
		font-weight: bold;
	}
}

@media (max-width: 360px) {
	#top-bar {
		font-size: 12px;
	}
} */
